# System-wise files
*.DS_Store
*.pyc
*.swp

# temp files
v/*
temp/*
keras/datasets/data/*
keras/datasets/temp/*
docs/site/*
docs/theme/*

# project build files
build/lib/keras/applications/__pycache__/

# project related files
tags
Keras.egg-info

# test-related
.coverage
.cache

# developer environments
.idea

# Dropbox attributes
.dropbox.attr

# new image models
/examples/ImageModels/docs/
/examples/ImageModels/Model/

# log related files
data/
dist/
/build/.ipynb_checkpoints/
/build/bdist.macosx-10.6-x86_64/
/model_saved/
/output/*

/build/lib/keras_old/
